<div class="title">
  <%= link_to home_index_path, class: 'arrow' do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>
  <h3><%= @category.name %></h3>
</div>
<div>
  <div class='card'>
    <p><strong>Total</strong></p>
    <%= @transactions.sum(:amount) %>
  </div>
  <% @transactions.each do |transaction| %>
    <div class="card">
      <p class="transaction-name"><%= transaction.name %></p>
      <p class="transaction-amount"><%= transaction.amount %></p>
    </div>
  <% end %>
</div>